<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home{% endblock %} - Book Reviews</title>
    {% block stylesheets %}
        {% stylesheets
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'
            '../app/Resources/public/css/styles.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
    {% endblock %}
    {% block javascript %}
        {% javascripts
            'https://code.jquery.com/jquery-2.1.1.js'
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'
            '../app/Resources/public/js/main.js'
            '../app/Resources/public/js/jquery-ui.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/> </head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('bookreview_home') }}">Book Reviews</a>
                {% if app.user is not empty %}
                    <p class="navbar-text">Signed in as {{ app.user.username | lower }}</p>
                {% endif %}
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('bookreview_home') }}">Home</a></li>

                    {% if app.user is not empty %}
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    {% endif %}

                    <li><a href="{{ path('bookreview_about') }}">About</a></li>
                </ul>
            </div>{#navbar collapse#}
        </div>{#container fluid#}
    </nav>
    <div class="row">
        <section class="col-md-3">
            {% block sidebar %}{% endblock %}
        </section>
        <section class="col-md-8">
            {% block body %}{% endblock %}
            {% block content %}{% endblock %}
        </section>
            {% block reviews %}{% endblock %}
    </div>

</div>
</body>
</html>
