{% extends "BookReviewBookBundle::layout.html.twig" %}

{% block title %}View book{% endblock %}

{% block body %}
    <div>
        <h1>{{ book.title | title }}</h1>
        <ul>
            <li>Author: {{ book.author }}</li>
            <li>Genre: {{ book.genre }}</li>
            <li>Publisher: {{ book.publisher }}</li>
            <li>Book Summary: {{ book.summary }}</li>
        </ul>
        <ul>
            <li><a href="{{ path('bookreview_books_edit',{id: book.id}) }}">Edit book</a></li>
            <li><a href="{{ path('bookreview_reviews_create', {book_id: book.id}) }}">Review book</a></li>
        </ul>
    </div>
{% endblock %}
{% block reviews %}
    {% include 'BookReviewBookBundle:Review:view.html.twig' with {'reviews': reviews} %}
{% endblock %}
