{% extends "BookReviewBookBundle::layout.html.twig" %}

{% block title %}View book{% endblock %}

{% block body %}
    <div class="media">
            <span class="media-left media-middle">
                {% if book.photo %}
                    <a href="{{ path('bookreview_books_view',{id : book.id}) }}">
                        <img src="{{ book.photo.path | imagine_filter('book_thumb') }}" alt="{{ book.photo.fileName }}" />
                    </a>
                {% else %}
                    <a href="{{ path('bookreview_books_view',{id : book.id}) }}">
                        <img src="http://placehold.it/140x190&text=no+image+" />
                    </a>
                {% endif %}
            </span>
        <div class="media-body">
            <a href="{{ path('bookreview_books_view',{id : book.id}) }}"><h4 class="media-heading">{{ book.title | title }}</h4></a>
            <ul>
                <li>Author: {{ book.author | title }}</li>
                <li>Genre: {{ book.genre | title }}</li>
                <li>Publisher: {{ book.publisher | title }}</li>
                <li>Summary: {{ book.summary | capitalize }}</li>
                <li>Number of reviews: {{ book.reviews | length }}</li>
            </ul>
                <button type="button" class="btn btn-default"><a href="{{ path('bookreview_books_edit',{id: book.id}) }}">Edit this book</a></button>
                <button type="button" class="btn btn-default"><a href="{{ path('bookreview_reviews_create', {book_id: book.id}) }}">Write a review</a></button>
        </div>
    </div>
{% endblock %}
{% block reviews %}
   {% include 'BookReviewBookBundle:Review:view.html.twig' with {'reviews': reviews} %}
{% endblock %}
