{% extends 'BookReviewBookBundle::layout.html.twig' %}
{% block body %}
    {% for book in books %}
        <h1>{{ book.title | title }}</h1>
        <li>Author: {{ book.author }}</li>
        <li>Genre: {{ book.genre }}</li>
        <li>Publisher: {{ book.publisher }}</li>
        <li>Year of Publication: {{ book.yearpublished }}</li>
        {# link to edit book, goes to the form path if editAction is created in the controller
        <a href="{{ path('bookreview_books_edit',{'id':book.id}) }}">edit</a>#}
    {% endfor %}
{% endblock %}