{% extends 'BookReviewBookBundle::layout.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1>Welcome to Book Review</h1>

        <p>This website is a site for book lovers and enthusiasts, here you can review books and with the ability to add new books, the site will continue to grow!</p>
        <p><a class="btn btn-success btn-lg" href="{{ path('bookreview_about') }}" role="button">Read more</a></p>
    </div>

    {% for book in books %}
        <div class="media">
            <span class="media-left media-middle">
                {% if book.photo %}
                <a href="{{ path('bookreview_books_view',{id : book.id}) }}">
                    <img src="{{ book.photo.path | imagine_filter('book_thumb') }}" alt="{{ book.photo.fileName }}" />
                </a>
                {% else %}
                <a href="{{ path('bookreview_books_view',{id : book.id}) }}">
                    <img src="http://placehold.it/140x190&text=no+image+" />
                </a>
                {% endif %}
            </span>
            <div class="media-body">
                <a href="{{ path('bookreview_books_view',{id : book.id}) }}"><h4 class="media-heading">{{ book.title | title }} <span class="label label-success">{{ book.reviews | length }}</span></h4></a>
                <ul>
                    <li>Author: {{ book.author | title }}</li>
                    <li>Genre: {{ book.genre | capitalize }}</li>
                    <li>Publisher: {{ book.publisher | title }}</li>
                    <li>Summary: {{ book.summary | capitalize }}</li>
                </ul>
            </div>
        </div>
    {% else %}
        <p>There are no books in the system</p>
    {% endfor %}
{% endblock %}