{% extends 'BookReviewBookBundle::layout.html.twig' %}
{% block body %}
    <h1>Home page</h1>

    {% for book in books %}
    <div>
        <h2><a href="{{ path('bookreview_books_view',{id : book.id}) }}">{{ book.title | title }}</a></h2>
        <ul>
            <li>Author: {{ book.author }}</li>
            <li>Genre: {{ book.genre }}</li>
            <li>Publisher: {{ book.publisher }}</li>
            <li>Summary: {{ book.summary }}</li>
        </ul>
    </div>
    {% endfor %}
{% endblock %}