{% extends 'BookReviewBookBundle::layout.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1>Welcome to Book Review</h1>

        <p>This website is a site for book lovers and enthusiasts, here you can review books and with the ability to add new books, the site will continue to grow!</p>
        <p><a class="btn btn-success btn-lg" href="{{ path('bookreview_about') }}" role="button">Read more</a></p>
    </div>

    {% for book in books %}
        {#<div class="panel panel-default">#}
            {#<div class="panel-heading">#}
                {#<h3 class="panel-title"><a href="{{ path('bookreview_books_view',{id : book.id}) }}">{{ book.title | title }}</a></h3>#}
            {#</div>#}
            {#<div class="panel-body">#}
                {#<ul>#}
                    {#<li>Author: {{ book.author | title }}</li>#}
                    {#<li>Genre: {{ book.genre | capitalize }}</li>#}
                    {#<li>Publisher: {{ book.publisher | title }}</li>#}
                    {#<li>Summary: {{ book.summary | capitalize }}</li>#}
                {#</ul>#}
                {#<span><a href="{{ path('bookreview_books_view',{id : book.id}) }}">View more</a></span>#}
            {#</div>#}
        {#</div>#}

        <div class="media">
            <span class="media-left">
                {% if book.photo %}
                    <img src="{{ book.photo.path }}" alt="{{ book.photo.fileName }}" />
                {% else %}
                    <img src="http://placehold.it/100x80&text=no+image+" />
                {% endif %}
            </span>
            <div class="media-body">
                <a href="{{ path('bookreview_books_view',{id : book.id}) }}"><h4 class="media-heading">{{ book.title | title }}</h4></a>
                <ul>
                    <li>Author: {{ book.author | title }}</li>
                    <li>Genre: {{ book.genre | capitalize }}</li>
                    <li>Publisher: {{ book.publisher | title }}</li>
                    <li>Summary: {{ book.summary | capitalize }}</li>
                </ul>
                <a href="{{ path('bookreview_books_view',{id : book.id}) }}">View more</a>
            </div>
        </div>
    {% else %}
        <p>There are no books in the system</p>
    {% endfor %}
{% endblock %}