{% extends 'BookReviewBookBundle::layout.html.twig' %}

{% block title %}Book Search{% endblock %}

{% block body %}

    <h1>Google Book Search Result</h1>

        <div class="search-results">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ item.volumeInfo.title | title }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {% if item.volumeInfo.subtitle|default %}
                                {% for subtitle in item.volumeInfo.subtitle %}
                                    <li>Subtitle: {{ subtitle | title }}. </li>
                                {% endfor %}
                            {% endif %}

                            {% if item.volumeInfo.authors|default %}
                                <li>Author(s):
                                    {% for author in item.volumeInfo.authors %}
                                        {{ author | title }}.
                                    {% endfor %}
                                </li>
                            {% endif %}

                            {% if item.volumeInfo.categories|default %}
                                {% for category in item.volumeInfo.categories %}
                                    <li>Genre: {{ category | title }} </li>
                                {% endfor %}
                            {% endif %}

                            {% if item.volumeInfo.publisher|default %}
                                <li>Publisher: {{ item.volumeInfo.publisher }} </li>
                            {% endif %}


                            {% if item.searchInfo.textSnippet|default %}
                                <li>Description: {{ item.searchInfo.textSnippet|raw }}</li>
                            {% endif %}

                            {% if item.volumeInfo.industryIdentifiers|default %}
                                {% for ISBN in item.volumeInfo.industryIdentifiers %}
                                    {% if loop.first %}
                                        <li>ISBN-13: {{ ISBN.identifier }} </li>
                                     {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
        </div>
{% endblock %}